@import 'mixins';

.hide {
    display: none;
}

.show-block {
    display: block !important;
}

.show-inline-block {
    display: inline-block;
}

.show-table-row {
    display: table-row;
}

.show-inline-table {
    display: inline-table;
}

.set-overflow-hidden {
    overflow: hidden;
}

.drop-animation {
    height: 100% !important;
}

.flex-break {
    flex-basis: 100%;
    height: 0;  
    @include breakpoint(tablet) {
        display: none;
    }  
}

.rotate-180 {
    transform: rotate(180deg) !important;
}

.height-350 {
    height: 360px !important;
}

.opacity-animation {
    opacity: 1 !important;
}

.opacity-scroll {
    opacity: 0.8 !important;
}